body {
    color: black;
    background-image: url("imagens/boyOrgirl.png");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

header {
   display: flex;
   justify-content: center;
}

.bRes {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

label {
    display: flex;
    flex-direction: row; 
}

.resultado {
    display: flex;
    justify-content: center;
    padding: 80px;
    font: normal 23pt Arial;
}

footer {
    display: flex;
    justify-content: center;
}